/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff8fb;
    color: #333;
}


/* CABEÇALHO */

header {
    background-color: #d96c91;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}


/* MENU */

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* INÍCIO */

.inicio {
    text-align: center;
    padding: 50px 20px;
}

.inicio h2 {
    color: #b83f68;
    margin-bottom: 15px;
}


/* CATÁLOGO */

#flores {
    padding: 40px 8%;
}

#flores h2 {
    text-align: center;
    color: #b83f68;
    margin-bottom: 30px;
    font-size: 30px;
}


/* CARDS DAS FLORES */

.catalogo {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));

    gap: 25px;
}


/* CADA FLOR */

.flor {
    background-color: white;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    text-align: center;

    padding-bottom: 20px;

    transition: 0.3s;
}


/* EFEITO AO PASSAR O MOUSE */

.flor:hover {
    transform: translateY(-5px);

    box-shadow:
        0 8px 18px rgba(0, 0, 0, 0.15);
}


/* IMAGENS */

.flor img {
    width: 100%;

    height: 220px;

    object-fit: cover;
}


/* TÍTULO DA FLOR */

.flor h3 {
    color: #b83f68;

    margin: 15px 10px 10px;
}


/* DESCRIÇÃO */

.flor p {
    padding: 0 20px;

    line-height: 1.5;

    margin-bottom: 15px;
}


/* PREÇO */

.flor strong {
    color: #388e3c;

    font-size: 20px;
}


/* SOBRE */

.sobre {
    background-color: #f8dce6;

    text-align: center;

    padding: 50px 20%;
}

.sobre h2 {
    color: #b83f68;

    margin-bottom: 20px;
}

.sobre p {
    line-height: 1.6;
}


/* VÍDEO */

.video {
    text-align: center;

    padding: 50px 20px;
}

.video h2 {
    color: #b83f68;

    margin-bottom: 15px;
}

.video p {
    margin-bottom: 25px;
}

.video iframe {
    max-width: 100%;

    border-radius: 15px;
}


/* CONTATO */

.contato {
    background-color: #fff;

    text-align: center;

    padding: 40px;
}

.contato h2 {
    color: #b83f68;

    margin-bottom: 20px;
}

.contato p {
    margin: 8px;
}


/* RODAPÉ */

footer {
    background-color: #b83f68;

    color: white;

    text-align: center;

    padding: 20px;
}